body {
   min-height: 100vh;
}

h2 {
   color: #183559;
}

.flex-grow {
   flex: 1;
}

.btn-default {
   color: #183559;
   font-weight: bold;
   background-color: #f26b40;
}

footer{
   background-color: #183559;
   position: relative;
   bottom: 0;
   line-height: 0vh;
}

input:required{
   border:1px solid red;
}



#tabla {
   min-height: 100%;
}

.container {
   min-height: 100%;
}

#logo {
   width: 5em;
   height: 4em;
}

#logo2 {
   max-width: 100%;
   max-height: 100%;
   float: right;
}

@media (max-width:1000px) {
   #colLogo {
      display: none;
   }
   #fila {
      margin-top: 0em;
   }
}

.carousel-inner>.carousel-item>img {
   margin: 0 auto;
}

footer i, #copyright {
   color: #f26b40
}

span {
   color: #183559;
}

.disabled {
   color: red;
}

.dropdown-item:not(.disabled) {
   font-weight: bold;
}

.alert {
   background-color: #f26b40;
   color: #183559;
}

span>.blue {
   color: #183559;
}

span>.orange {
   color: #f26b40
}

tr:nth-child(odd) {
   background-color: RGBA(24, 53, 89, 0.4);
}

tr:nth-child(even) {
   background-color: #f8f9fa;
   /*background-color: RGBA(24, 53, 89, 0.2);*/
}

#iconito{
   color: #f26b40;
}

a{
   text-decoration: none;
}

i{
   color: #f26b40;
}

a::selection{
   color: #f26b40;
}