/*
#logo {
    width: 5em;
    height: 4em;
 }

#titulo {
    color: #4D95D8;
}

form>i {
    color: white;
    background-color: #00c1ec;
    border: 5px solid #00c1ec;
    border-radius: 50%;
}

#enviar {
    background-color: #00c1ec;
    color: white;
}


footer {
   
    background-color: #4D95D8;
    width: 100%;
}

footer i {
    color: black;
}

#copyright {
    color: black;
}

#icons {
    position: relative;
    top: 50px;
}

.dropdown-item.active {
    background-color: #ff3006;
}

.dropdown-item:active {
    background-color: #ff3006;
}

#busqueda {
    border-color: #ff3006;
}

#busqueda:hover {
    background-color: #ff3006;

}*/